<section class="current-course">
<h1><%= course.courseName %> </h1>
<h2><%= course.title %></h2>
<p><%= course.description %></p>
<a href="/course/buy/<%= course.id %> ">Buy for only <%= course.price %>$</a>

</section>